# Ejecutables y archivos pesados
*.dll
*.pak
*.bin
*.dat
*.log
*.exe

# Carpetas internas de PHP Desktop
php/
locales/
webcache/

# Archivos temporales y de búsqueda
www/MusicDown/search_results.json
*.tmp
